body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9ba7a;
    color: #306db3;
}

header {
    background-color: #306db3;
    color: #c9ba7a;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a {
    color: #c9ba7a;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section h2 {
    margin-top: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.trip, .place {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #306db3;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #c9ba7a;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #306db3;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    border-radius: 20px;
}
